*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-huge) {
    font-size: 55%;
  }
  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-medium) {
    font-size: 40%;
  }
  @media only screen and (max-width: $bp-smallest) {
    font-size: 30%;
  }
}

body {
  background-image: linear-gradient(
    to bottom,
    $color-secondary,
    $color-primary
  );
  background-repeat: no-repeat;
  box-sizing: border-box;
}
