// Colors
$color-primary: #4a00e0;
$color-secondary: #8e2de2;
$color-tertiary: #333;
$color-quaternary: #fff;

// Screen sizes

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
