.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.582);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 85vh;
  background-color: $color-quaternary;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__close-btn {
    backdrop-filter: blur(2px);
    box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.25);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: absolute;
    color: $color-quaternary;
    top: 10px;
    right: 10px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__image {
    flex: 1;
    height: 50%;
    img {
      object-fit: contain;
      width: 100%;
    }
  }

  &__information {
    flex: 2;
    height: 20px;
    width: 100%;

    display: flex;
  }

  &__description {
    padding: 3rem;
    background: $color-tertiary;
    color: $color-quaternary;
    width: 100%;
    flex: 2;
  }

  &__technologies {
    padding: 3rem;
    background: $color-quaternary;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__tech-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    font-size: 2rem;
    flex-wrap: wrap;
    gap: 5px;
    align-self: flex-start;

    li {
      background: $color-tertiary;
      color: $color-quaternary;
      padding: 6px 10px;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.2s;
      text-align: center;

      &:hover {
        background: $color-primary;
      }
    }
  }

  &__tech-live {
    width: 100%;
  }
}
