.about {
  background-color: $color-tertiary;
  padding: 9rem;

  &__button {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &__container {
    background-color: $color-quaternary;
    padding: 9rem 11rem;
    display: grid;
    column-gap: 6rem;
    row-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  h2 {
    margin-bottom: 1rem;
  }

  &__info {
    margin-bottom: 1rem;
  }

  &__dummy {
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
