.skills-section {
  background-color: $color-quaternary;
  padding: 9rem;
  @media only screen and (max-width: $bp-medium) {
    padding: 5rem;
  }

  .skills {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2.5rem;
  }
}
